{% extends "base.html" %}

{% block button %}
  <a class="px-6 py-2 bg-primary/10 text-primary dark:bg-primary/20 dark:text-primary rounded-full font-semibold hover:bg-primary/20 dark:hover:bg-primary/30 transition-colors duration-200" href="/">Logout</a>
{% endblock %}

{% block content %}
<div class="min-h-screen bg-gray-50 dark:bg-[#021b10] py-10 px-4">
  <div>
    <h2 class="text-2xl font-bold text-gray-900 dark:text-white mb-6 text-center">My Applications</h2>

    {% if applications %}
      <table class="w-full border-collapse text-sm">
        <thead>
          <tr class="bg-green-600 text-white">
            <th class="p-3 text-center">Application ID</th>
            <th class="p-3 text-center">Service ID</th>
            <th class="p-3 text-center">Service Name</th>
            <th class="p-3 text-center">Amount</th>
            <th class="p-3 text-center">Applicant Name</th>
            <th class="p-3 text-center">Email</th>
            <th class="p-3 text-center">Mobile No.</th>
            <th class="p-3 text-center">Status</th>
            <th class="p-3 text-center">Track</th>
          </tr>
        </thead>
        <tbody>
          {% for app in applications %}
          <tr class="border-b border-gray-200 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-[#064222] transition">
            <td class="p-3 text-gray-900 dark:text-white">{{ app.app_id }}</td>
            <td class="p-3 text-gray-900 dark:text-white">{{ app.service_id }}</td>
            <td class="p-3 text-gray-900 dark:text-white">{{ app.service_name }}</td>
            <td class="p-3 text-gray-900 dark:text-white">{{ app.total_amount }}</td>
            <td class="p-3 text-gray-900 dark:text-white">{{ app.name }}</td>
            <td class="p-3 text-gray-900 dark:text-white">{{ app.email }}</td>
            <td class="p-3 text-gray-900 dark:text-white">{{ app.mobile }}</td>
            <td class="p-3 text-gray-900 dark:text-white">{{ app.status }}</td>
            <td class="p-3 text-gray-900 dark:text-white">
              <a href="{{ url_for('track_application', app_id=app.app_id) }}"
   class="bg-blue-500 hover:bg-blue-600 text-white py-2 px-5 rounded-full transition duration-200 inline-block">
   Track
              </a>

            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p class="text-center text-gray-600 dark:text-gray-300">No applications submitted yet.</p>
    {% endif %}
  </div>
</div>
{% endblock %}

{% block footer %}
  {% include "footer.html" %}
{% endblock %}